@import '@fuggetlenfe/tokens/contract.css';
@import '@fuggetlenfe/brand-styles/brand-1-light.css';

html {
  background: #fafafa;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: Inter, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}
